@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #ededed;
}

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, sans-serif;
  /* overflow: hidden; Removed to allow native scrolling with snap */
  overflow-y: auto;
}

/* Custom Scrollbar for Logs */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #18181b; 
}
::-webkit-scrollbar-thumb {
  background: #3f3f46; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #52525b; 
}
